.svoi{
    &__content{
        display: flex;
        margin-left: 10%;
        margin-bottom: 157px;
        img{
            width: 461px;
            height: 403x;
        }
    }
    &__mod{
        @include font(600, calc($fz * 1.6), $black,124.5%);
        -webkit-text-stroke: 1px $fonts;
        font-style: italic;
        text-align: center;
        margin: 65px 0 59px;
        
    }
    &__progect{
        display: flex;
        justify-content: space-between;
        width: 583px;        
        height: 77px;
        padding: 8px 143px 8px 32px;
        border-radius: 38px;
        background-color: $blue;
        @include font(400, 38px, $black,112.5%);
        font-style: italic;
        box-shadow: 0px 9px 4px 0px rgba(0, 0, 0, 0.31);
        transition: all 1s ease-in;
              &:hover{
                background-color: $green;
              }
        svg{
            width: 60px;
            height: 54px;

        }
    }
&__right{
    width: 51%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 88px;
}


}